[submodule "flexdll"]
    path = flexdll
    url = https://github.com/alainfrisch/flexdll.git
[submodule "changes.d/archive"]
	path = changes.d/archive
	url = https://github.com/dra27/ocaml-changelog.git
